<div class="container" style="text-align:left;">
  <div class="page-header"><h3>{{title}}</h3></div>
  <form [formGroup]="angularForm" novalidate>
    <div class="form-group row">
      <label for="projectName" class="col-sm-2 col-form-label">Project</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" [(ngModel)]="task.ProjectName" formControlName="projectName" placeholder="Project">
      </div>
      <div class="col-sm-2">
          <button type="submit" class="btn btn-primary" [disabled]="angularForm.controls['parentTaskCheckbox'].value || title!='Add Task' " (click)=showProjects()>Search</button>
      </div>
    </div>
    <div *ngIf="angularForm.controls['projectName'].invalid && (angularForm.controls['projectName'].dirty || angularForm.controls['projectName'].touched)" class="alert alert-danger">
      <div *ngIf="angularForm.controls['projectName'].errors.required">
        Project Name is required.
      </div>
    </div>

    <div class="form-group row">
      <label for="taskName" class="col-sm-2 col-form-label">Task</label>
      <div class="col-sm-7">
        <input type="text" class="form-control" [(ngModel)]="task.TaskName" formControlName="taskName" placeholder="Task">
      </div>
    </div>
    <div *ngIf="angularForm.controls['taskName'].invalid && (angularForm.controls['taskName'].dirty || angularForm.controls['taskName'].touched)" class="alert alert-danger">
      <div *ngIf="angularForm.controls['taskName'].errors.required">
        Task Name is required.
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-2"></div>
      <div class="col-sm-6">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" formControlName="parentTaskCheckbox" (change)="parentTaskChecked(angularForm.controls['parentTaskCheckbox'].value)">
          <label class="form-check-label" style="font-weight: normal" for="parentTaskCheckbox">
            Parent Task
          </label>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label for="priority" class="col-sm-2 col-form-label">Priority</label>
      <div class="col-sm-7">
        <input type="range" min="0" max="10" step="1" value="0" class="form-control" [(ngModel)]="task.Priority" formControlName="priority" placeholder="Project">
      </div>
    </div>

    <div class="form-group row">
      <label for="parentTask" class="col-sm-2 col-form-label">Parent Task</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" [(ngModel)]="task.ParentTaskName" formControlName="parentTask" placeholder="Parent Task">
      </div>
      <div class="col-sm-2">
          <button type="submit" class="btn btn-primary" [disabled]="angularForm.controls['parentTaskCheckbox'].value" (click)=showParentTasks()>Search</button>
      </div>
    </div>

    <div class="form-group row">
      <label for="manager" class="col-sm-2 col-form-label">Start Date</label>
      <div class="col-sm-3">
        <input type="date" [ngModel]="task.StartDate | date:'yyyy-MM-dd'"  (ngModelChange)="task.StartDate = $event"
        [value]="task.StartDate | date:'yyyy-MM-dd'"  class="form-control" formControlName="startDate">
      </div>
      <label for="manager" class="col-sm-1 col-form-label">End Date</label>
      <div class="col-sm-3">
        <input type="date" [ngModel]="task.EndDate | date:'yyyy-MM-dd'"  (ngModelChange)="task.EndDate = $event" (blur)="compareTwoDates()"
        [value]="task.EndDate | date:'yyyy-MM-dd'"  class="form-control" formControlName="endDate" class="form-control" formControlName="endDate" >
      </div>
    </div>
    <div *ngIf="angularForm.controls['startDate'].invalid && (angularForm.controls['startDate'].dirty || angularForm.controls['startDate'].touched)" class="alert alert-danger">
      <div *ngIf="angularForm.controls['startDate'].errors.required">
        Start Date is required.
      </div>
    </div>
    <div *ngIf="angularForm.controls['endDate'].invalid && (angularForm.controls['endDate'].dirty || angularForm.controls['endDate'].touched)" class="alert alert-danger">
      <div *ngIf="angularForm.controls['endDate'].errors.required">
        End Date is required.
      </div>
    </div>

    <div class="form-group row">
      <label for="userName" class="col-sm-2 col-form-label">User</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" [(ngModel)]="task.UserName" formControlName="userName" placeholder="User">
      </div>
      <div class="col-sm-2">
          <button type="submit" [disabled]="angularForm.controls['parentTaskCheckbox'].value || title !='Add Task'" class="btn btn-primary" (click)=showUsers()>Search</button>
      </div>
    </div>
    <div *ngIf="angularForm.controls['userName'].invalid && (angularForm.controls['userName'].dirty || angularForm.controls['userName'].touched)" class="alert alert-danger">
      <div *ngIf="angularForm.controls['userName'].errors.required">
        User Name is required.
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-2"></div>
      <div class="col-sm-2"></div>
      <div class="col-sm-3"></div>
        <div class="col-sm-4">
          <button type="submit" (click)="manageTask(task)" class="btn btn-primary btn-space">{{title}}</button>
          <button type="submit" class="btn btn-primary">Reset</button>
        </div>
    </div>
  </form>
</div>