.btn-space {
    margin-right: 10px;
}

.btn-size {
  width: 80px;
}


.header-right {
    float: right;
  }

.header-left {
  float: left;
}

.borderless td, .borderless th {
  border: none;
}

.font-bold {
  font-weight: bold
}

.align-left-text{
  text-align:left;
}

.inner-container{
  float:left; 
  clear: left;
  } 

.user-item {
  text-align:left;margin-top: 10px;
}