<div class="container">
<div class="container" >
  <div class="page-header" style="text-align:left;"><h3>View Task</h3></div>
  <div class="header-left table-responsive">
    <table class="table borderless">
      <tr>
        <td>Project</td>
        <td><input type="text" [disabled]="true" [(ngModel)]="project" class="form-control"></td>
        <td><button (click)="showProjects()" class="btn btn-primary btn-space">Search</button></td>
      </tr>
    </table>
  </div>
  <div class="header-right table-responsive">
    <table class="table borderless">
      <tr>
          <td>Sort Task By:</td>
          <td><button (click)="onSortStartDate()" class="btn btn-space">Start Date</button></td>
          <td><button (click)="onSortEndDate()" class="btn btn-space">End Date</button></td>
          <td><button (click)="onSortPriority()" class="btn btn-space">Priority</button></td>
          <td><button (click)="onSortTaskCompletion()" class="btn btn-space">Completed</button></td>

      </tr>
    </table>  
  </div>
</div>

<div class="container inner-container list-group">
  <hr/>
  <div class="list-group-item" *ngFor="let task of taskList">
    <div class="row font-bold">
      <div  class="col-sm-2 col-xs-2 col-md-2 col-lg-2">Task</div>
      <div class="col-sm-2 col-xs-2 col-md-2 col-lg-2">Parent</div>
      <div class="col-sm-1 col-xs-1 col-md-1 col-lg-1">Priority</div>
      <div class="col-sm-1 col-xs-2 col-md-1 col-lg-1">Start</div>
      <div class="col-sm-2 col-xs-2 col-md-2 col-lg-2">End</div>
      <div class="col-sm-1 col-xs-1 col-md-1 col-lg-1"></div>
      <div class="col-sm-1 col-xs-1 col-md-1 col-lg-1"></div>
      <div class="col-sm-1 col-xs-1 col-md-1 col-lg-1"></div>
    </div>
    <div class="row">
      <div class="col-sm-2 col-xs-2 col-md-2 col-lg-2">{{task.TaskName}}</div>
      <div class="col-sm-2 col-xs-2 col-md-2 col-lg-2">{{task.ParentTaskName}}</div>
      <div class="col-sm-1 col-xs-1 col-md-1 col-lg-1">{{task.Priority}}</div>
      <div class="col-sm-1 col-xs-1 col-md-1 col-lg-1">{{task.StartDate | date : 'MM/dd/yyyy'}}</div>
      <div class="col-sm-2 col-xs-2 col-md-2 col-lg-2">{{task.EndDate | date : 'MM/dd/yyyy'}}</div>
      <div class="col-sm-1 col-xs-1 col-md-1 col-lg-1"><button (click)="editTask(task)" [disabled]='task.IsTaskEnded' class="btn btn-primary">Edit</button></div>
      
      <div class="col-sm-1 col-xs-1 col-md-1 col-lg-1"><button type="submit" class="btn btn-primary" (click)="deleteTask(task)">Delete</button></div>
      <div class="col-sm-1 col-xs-1 col-md-1 col-lg-1"><button *ngIf="task.Priority > 0 && !task.IsTaskEnded" (click)="endTask(task.TaskId)" class="btn btn-primary btn-space">End Task</button></div>
    </div>
  </div>

</div>
</div>


