<div style="text-align:center;">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="http://localhost/ProjectManagerUI/">{{ title }}</a>
      </div>
      <ul class="nav navbar-nav">
        <li ><a [routerLink]="'/AddProject'">Add Project</a></li>
        <li><a [routerLink]="'/AddTask'" >Add Task</a></li>
        <li><a [routerLink]="'/AddUser'" >Add User</a></li>
        <li><a [routerLink]="'/ViewTask'">View Task</a></li>
      </ul>
    </div>
  </nav>
  <div class="top-margin" >
    <router-outlet></router-outlet>
  </div>
</div>